.module {
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    line-height: 1.3;

    button {
        width: 100%;
        margin-top: 30px;
        color: blue;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        font-size: 1rem;
        font-weight: 600;
    }

    .initials {
        width: 50px;
        margin-bottom: 40px;
        font-size: .7rem;
        color: var(--color-primary);
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        background-color: rgb(194, 194, 236);
    }
}

@media (min-width: 1200px) {
    .module {
        width: 30%;
        margin: 0;
    }

}