@media (min-width: 1200px) {
    .hero {
        text-align: center;
        margin-top: 100px;
    }

    .hero span {
        color: blue;
        text-transform: uppercase;
    }

    .hero h1 {
        font-weight: var(--font-weight-bold);
        text-transform: capitalize;
        font-size: 3rem;
    }

    .hero h1 span {
        text-transform: capitalize;
    }

    .hero p {
        margin-block: 26px;
    }

    .btns {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .modules {
        display: flex;
        justify-content: space-between;
    }

    .moduleSection {
        margin-block: 200px;
    }

    .footer {
        padding: 20px;
        margin-top: 50px;
        background-color: var(--color-secondary);
    }

    .tag {
        font-size: .8rem;
    }

    .footerLinks {
        display: flex;
        justify-content: space-between;
    }

    .footerLinks ul {
        display: flex;
        gap: 16px;
    }

    .copyright {
        display: block;
        text-align: center;
        font-size: .7rem;
    }
}