@media (min-width: 1200px) {
    .mainNav {
        a {
            color: var(--color-tertiary);
        }

        .active {
            color: var(--color-primary);
            position: relative;
        }
    }

    .active::after {
        content: "";

        height: 3px;
        position: absolute;
        right: 0;
        left: 0;
        top: 25px;
        display: block;
        background-color: blue;
    }

    .mainNav,
    .secondaryNav {
        display: flex;
        align-items: center;
        gap: 26px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}