  .footer {
      padding: 20px;
      margin-block: 50px;
  }

  .tag {
      font-size: .8rem;
  }

  .footerLinks {
      display: flex;
      justify-content: space-between;
  }

  .footerLinks ul {
      display: flex;
      gap: 16px;
  }

  .copyright {
      display: block;
      text-align: center;
      font-size: .7rem;
  }