  .footer {
      padding: 20px;
      margin-block: 50px;

      .footerLinks {
          display: flex;
          justify-content: space-between;

          ul {
              display: flex;
              gap: 16px;
          }
      }
  }

  .tag {
      font-size: .8rem;
  }


  .copyright {
      display: block;
      text-align: center;
      font-size: .7rem;
  }