* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

:root {
  /* Colors */
  --color-primary: #0066cc;
  --color-secondary: #455a64;
  --color-tertiary: #767491;
  --color-light: #c0bed3;
  --color-neutral: #f8f9fa;

  /* Fonts */
  --font-base: "Inter", sans-serif;
  --font-headline: "Manrope", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 500;
  --font-weight-bold: 900;

  --font-size-sm: 0.825rem;
  --font-size-md: 1rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
}

body {
  font-family: var(--font-base);
  background-color: rgb(231, 231, 231);
}

h1 {
  font-family: var(--font-headline);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

p {
  color: var(--color-secondary);
  font-size: 1.1rem;
}